body{
  background-color:darkseagreen;
}

.wrapper{
  width: 370px;
  margin: 40px auto 0;
}

.nav, .about{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.nav ul{
  list-style: none;
  float :right;
}

.nav li{
  display: inline-block;
  margin-right: 10px;
}

.nav a{
  text-decoration: none;
  color: green;
}

.nav a.active{
  font-weight: bold;
}

.nav:after{
  content : "";
  display : block;
  clear   : both;
}

.about a{
  color : green;
}

.about .me{
  color: green;
  font-weight: normal;
}
.about span{
  font-weight: bold;
}

.board{
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.board button{
  width: 100px;
  height:100px;
  margin: 5px;
  border: 1px solid black;
  display:inline-block;
  background-size: 100% 100%;
}

button.messi0{
  background-image: url(../images/messi0.jpg);
}

button.ronaldo0{
  background-image: url(../images/ronaldo0.jpg);
}

button.field{
  background-image: url(../images/field.jpg);
}

.info{
   text-align: center;
   margin-top: 20px;
   font-weight: bold;
}

.board button.win{
   animation-name: win;
   animation-duration: 1s;
   animation-iteration-count: 3;
 }    

@keyframes win{
  from{opacity : 1}
  to{opacity : 0.5}
}

.choice{
  margin-bottom: 10px;
  font-weight: bold;
}
