body{
  background-color:darkseagreen;
}

.wrapper{
  width: 370px;
  margin: 40px auto 0;
}

.nav, .info{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.nav ul{
  list-style: none;
  float :right;
}

.nav li{
  float: right;
  margin-right: 20px;
}

.nav a{
  text-decoration: none;
  color: green;
}

.nav a.active{
  font-weight: bold;
}

.nav:after{
  content : "";
  display : block;
  clear   : both;
}

.info a{
  color : green;
}

.board button{
  width: 100px;
  height:100px;
  margin: 10px;
  border: 1px solid black;
  display:inline-block;
  background-size: 100% 100%;
}

button.messi0{
  background-image: url(../images/messi0.jpg);
}

button.ronaldo0{
  background-image: url(../images/ronaldo0.jpg);
}

button.field{
  background-image: url(../images/field.jpg);
}

label{
  font-weight: bold;
}

.msg{
   text-align: center;
   margin-top: 20px;
}

.board button.win{
   animation-name: win;
   animation-duration: 1s;
   animation-iteration-count: 3;
 }    

@keyframes win{
  from{opacity : 1}
  to{opacity : 0.5}
}

.choice{
  margin-bottom: 10px;
}
