.game {
  width: 100%;
  margin: 10px auto;
}

.play-again {
  margin-left: 5px;
}

.start-playing {
  margin-bottom: 10px;
}

.buttons {
  margin-top: 5px;

  .see-game {
    margin: 0 5px;

    a {
      color: black;
    }
  }

  .delete-game {
    margin: 0 5px;
    cursor: pointer;
  }

  .back {
    cursor: pointer;
  }
}

hr {
  margin: 15px;
}
