.header {
  width: 95%;
  margin: 0 auto;
}

header {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.flags img {
  cursor: pointer;
  margin: 0 2%;
}

@media screen and (max-width: 480px) {
  header {
    width: 40%;
  }
}
