/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*/

body{
  background-color:darkseagreen;
  margin: 0;
}

.wrapper{
  max-width: 500px;
  margin: 10px auto 0;
}

.nav, .about, .contact{
  width: 95%;
  margin: 0 auto
}

.nav ul{
  list-style: none;
  float: right;
  padding-left: 0;
}

.nav li{
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.nav a.active{
  font-weight: 1000;
}

.nav:after{
  content: "";
  display: block;
  clear: both;
}

a{
  color: green;
  text-decoration: none;  
}

.contact .me{
  color: green;
  font-weight: normal;
}

.contact span, .about span{
  font-weight: bold;
}

.game{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.board button, .game-history button{
  width: 33%;
  border: 1px solid black;
  display: inline-block;
  background-size: 100% 100%;
}

.board button:after, .game-history button:after{
  content: "";
  display: block;
  padding-bottom: 100%;
}

.board button:not([disabled]){
  cursor: pointer;
}

.win{
  animation: win 1s infinite;
}    

@keyframes win{
  from{opacity: 1}
  to{opacity: 0.5}
}

.field{
  /*background-image: url(./images/field.jpg);*/
}

.info{
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.categories{
text-align: center;
font-weight: bold;
margin-bottom: 5px;
}

.categories img{
  width: 60px;
  height: 60px;
  vertical-align: middle;
}

.random-images, .question{
margin: 10px 0;
font-weight: bold;
}

input[type=radio]:not([disabled]), .yes:not([disabled]), .no:not([disabled]){
  cursor: pointer;
}

.history, .game-history{
  text-align: center;
}

hr{
  margin: 15px;
}

.about ul{
margin-top: 0;
}