body{
  background-color:darkseagreen;
  margin: 0;
}

.wrapper{
  max-width: 500px;
  margin: 10px auto 0;
}

header, nav{ 
  display: block;
}

header{
  float: left;
}

nav{
  float: right;
}

.header, .about, .contact{
  width: 95%;
  margin: 0 auto
}

.header:after{
  content: "";
  display: block;
  clear: both;
}

nav ul{
  list-style: none;
  padding-left: 0;
}

nav li{
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

nav a.active{
  font-weight: 1000;
}

a{
  color: green;
  text-decoration: none;  
}

nav li a:hover{
  color: #19A57E
}

.about{
  margin-top: 10px;
}

.contact .me{
  color: green;
  font-weight: normal;
}

.contact span, .about span{
  font-weight: bold;
}

.game{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.board button, .game-history button{
  width: 33%;
  border: 1px solid black;
  display: inline-block;
  background-size: 100% 100%;
}

.board button:after, .game-history button:after{
  content: "";
  display: block;
  padding-bottom: 100%;
}

.board button:not([disabled]){
  cursor: pointer;
}

.win{
  animation: win 1s infinite;
}    

@keyframes win{
  from{opacity: 1}
  to{opacity: 0.5}
}

.info{
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.categories{
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.categories img{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 15px;
}

.random-images, .settings{
  margin: 10px 0;
  font-weight: bold;
}

.user-image, .computer-image{
  display: inline;
}

.level, .question{
  display: inline-block;
}

.question{
  width: 45%
}

.level{
  width: 55%;
}

.level span, .question span{
  cursor: default;
}

.history .question, .game-history .question{
  width: 70%;
}

.history .level, .game-history .level{
  width: 30%;
}

input[type=radio]:not([disabled]), .yes:not([disabled]), .no:not([disabled]){
  cursor: pointer;
}

.history, .game-history{
  text-align: center;
}

hr{
  margin: 15px;
}

.about ul{
  margin-top: 0;
}

.start-playing{
  margin-bottom: 10px;
}

.see-game, .delete-game{
  margin: 0 5px;
}

.delete-game, .back{
  cursor: pointer;
}

.see-game a{
  color: black;
}

.play-again{
  margin-left: 5px;
}

@media screen and (min-width: 400px) {
  .categories img{
    width: 100px;
    height: 100px;
  }    
}