body{
  background-color:darkseagreen;
  margin: 0;
}

.wrapper{
  max-width: 500px;
  margin: 1px auto 0;
}

.flags img {
  cursor: pointer;
  margin: 0 2%;
}

header, nav{ 
  display:inline-block;
}

header{
  width: 30%;
}

nav{
  vertical-align: super;
  width: 70%;
}

.header, .about, .contact{
  width: 95%;
  margin: 0 auto
}

nav ul{
  list-style: none;
  padding-left: 0;
}

nav li{
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

nav a.active{
  font-weight: 1000;
}

a{
  color: green;
  text-decoration: none;  
}

nav li a:hover{
  color: #19A57E
}

.about{
  margin-top: 10px;
}

.contact .me{
  color: green;
  font-weight: normal;
}

.contact span, .about span{
  font-weight: bold;
}

.game{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.board button{
  width: 33%;
  border: 1px solid black;
  display: inline-block;
  background-size: 100% 100%;
}

.board button:after{
  content: "";
  display: block;
  padding-bottom: 100%;
}

.board button:not([disabled]){
  cursor: pointer;
}

.win{
  animation: win 1s infinite;
}    

@keyframes win{
  from{opacity: 1}
  to{opacity: 0.5}
}

.info{
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.categories{
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.images img{
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.images, .settings{
  margin: 10px 0;
  font-weight: bold;
}

.user-image, .computer-image{
  display: inline;
}

.history .user-image{
  margin-right: 20px;
}

.refresh{
  margin: 0 2px;
}

.levels {
  margin-left: 5px;
}

.level, .question{
  display: inline-block;
}

.question{
  width: 60%
}

.level{
  width: 40%;
}

.level span, .question span{
  cursor: default;
}

input[type=radio]:not([disabled]), .yes:not([disabled]), .no:not([disabled]){
  cursor: pointer;
}

.history, .game-history{
  text-align: center;
}

hr{
  margin: 15px;
}

.about ul{
  margin-top: 0;
}

.start-playing{
  margin-bottom: 10px;
}

.see-game, .delete-game{
  margin: 0 5px;
}

.delete-game, .back{
  cursor: pointer;
}

.see-game a{
  color: black;
}

.play-again{
  margin-left: 5px;
}

input#menu{
  display: none;
}

label.mylabel{
  display: none;
  cursor: pointer;
} 

#burger-container{
  position: relative;
  width: 100%;
}

#burger{
  cursor: pointer;
  display: block;
}

#burger span{
  background: green;
  display: block;
  left: 80%;
  width: 30px;
  height: 3px;
  margin-bottom: 6px;
  position: relative;
  top: 0;
  transition: all ease-in-out 0.4s;
}

@media screen and (max-width: 400px) {

  .header{
    margin-top: 10px;
  }

  header{
    vertical-align: top;
    width: 40%;
  }

  nav{
    width: 60%;
  }

  nav li{
    display: block;
  }
  
  nav a{
    display: block;
    text-decoration: none;
    padding: 5px;
    background-color: #8fbc8f;
  }

  label.mylabel{
    display: inline-block;
    width: 100%;
  }
  
  input#menu:checked ~ ul{
    max-height: 150px;
    transition: all ease 1s;
  }
  
  input#menu:checked + label > #burger-container span:nth-child(2){
    width: 0;
    opacity: 0;
  }
  
  input#menu:checked + label > #burger-container span:nth-child(3){
    transform: rotate(45deg);
    top: -9px;
  }
  
  input#menu:checked + label > #burger-container span:nth-child(1){
    transform: rotate(-45deg);
    top: 9px;
  }  

  #burger{
    margin-top: 10px;
  }
  
  ul.nav{
    margin: 0;
    display: block;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    text-align: left;
  }
}